/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#layoutPrincipal{
	-fx-background-color: rgb(67, 151, 161);
	
	}
#titulo{
	 -fx-font-weight: bolder;
	 -fx-text-fill: #412227;
	 -fx-font-size:25px;
	 -fx-effect: dropshadow(three-pass-box, white, 10, 0, 0, 0);
}
.label{

	 -fx-font-weight: bolder;
	 -fx-text-fill: white;
}
#logostc{
	-fx-fill: black;
	-fx-effect: dropshadow(three-pass-box, white, 5, 0, 0, 0);
}